
<div class="main">


<h1>Most Expensive Purchase</h1>
<% @user_purchase.each do |e| %>
    <b>Details:</b><%= link_to e.details, user_entry_path(@user, e)%>
    <br> <b>Amount:</b> <i>$<%= e.amount %></i>, <b>Month:</b> <%= e.month %><br>
     <br><br >
    <% end %>


</div>