<div class= "main">
<h1>Welcome to your Budget Calculator</h1>

<h4> Our free budget calculator can help you get a more
 complete picture of your monthly finances,<br>
 providing insights into where you’re doing the most of your spending.</h4>
 <h4><%= link_to "Join Us", new_user_path %></h4>

 </div>